body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-direction: column;  */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Ensure full viewport height */
  width: 100vw;
}

.App {
  text-align: center;
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  background-image: linear-gradient(79deg, #0253f6, #3a81fd 40%, #39faa3);
}
.chat-container {
  width: 100%; /* Take up the full width of the viewport */
  height: 100%;
  flex: 1; /* Take up all available vertical space */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0; /* Remove border radius */
  overflow: hidden;
}

.chat-header {
  background-color: #0077CC;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.chat-messages {
  padding: 10px;
  max-height: 100%;
  overflow-y: scroll;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #fff;
  justify-content: flex-end; /* Move buttons to the bottom */
}

.message {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.user {
  background-color: #164f78;
  color: #fff;
  align-self: flex-end;
}

.bot {
  background-color: #f5f5f5;
  color: #333;
  align-self: flex-start;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #0077CC;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}